.projects__main{
    margin:5em 1em 0;
    .projects{
        .css-1sxbfa7{
            margin:13rem auto;
        }
        hr{
            margin:0 auto;
            transform: translateX(-80%);
            transition: transform 1s ease-in-out;
        }
    }
    .background{
        background:#f50057;   
    }
}