.project__language-headings{
    width:100%;
    transform: translateY(-40%);
    transition: transform 0.8s ease-in-out;
    ul{
        margin:0;
        padding:0;
        width:100%;
        list-style-type: none;
        display:flex;
        justify-content: center;
        li{
            text-align: center;
            width:22%;
            padding:4px;
            margin:1.5rem 1rem;
            cursor:pointer;
            transition:0.3s;
            letter-spacing:1px;
            font-weight: bold;
            // &:first-child{
            //     background:#f50057;
            //     color:#fff;
            //     &:hover{
            //         color:#333;
            //     }
            // }
            @media screen and (min-width:720px){
                width:10%;
                margin:2rem;
                font-size:1.2em;
            }
        }
    }
}
@media screen and (min-width:720px){
    .back{
        &:hover{
            color:#f50057;
        }
    }
}
.background{
    background:#f50057; 
    color:#fff;
    &:hover{
        @media screen and (min-width:720px){
            color:#333;
        }
    }
}
.background-negate{
    background:transparent;
    color:initial;
    &:hover{
        @media screen and (min-width:720px){
            color:#f50057;
        }
    }
}