div.contact-details{
    width:100%;
    height:auto;
    text-align:center;
    .contact-details__fields{
        box-shadow: initial;
        width:45%;
        margin:0.5rem;
        &:last-child{
            // width:85%;
            width:94%;
            @media screen and (min-width:720px){
                // width:81.3%;
                width:91.8%;
            }
        }
    }
}