.work-position{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.type-of-work-label, .type-of-position-label{
    margin: 2rem 0 0.5rem;
    width: 95%;
}

.type-of-work, .type-of-position{
    margin: 0;
    padding:0.2rem;
    width: 95%;
    
}

.email{
    margin: 1rem 0;
}