.skills__main{
    margin:5em 1em 0;
    display:flex;
    flex-flow:row nowrap;

    .box__parent{
        width:100%;
        box-sizing: border-box;
        padding:1rem 2rem;
        h1{
            // box-shadow: 0 7px 10px rgba(0,0,0,0.3);
        }
        hr{
            width:145px;
            margin:-2rem 0 2rem;
        }
        .box__parent-skills-heading{
            width:100%;
            height:auto;
            // margin:auto;
            // text-align:center;
        }
        .box__parent-meter{
            // transition: display 1s ease-in-out;
            width:130px;
            height:30px;
            // margin:auto;
            margin-top:-0.4rem;
            display:grid;
            grid-template-columns: repeat(10, 1fr);
            column-gap: 1px;
            div{
                
                // &:nth-child(8),&:nth-child(9),&:nth-child(10) {
                //     background:red;
                // }
            }
        }
        .box__parent-skills{
            margin:1.1rem 0;
        //     display:flex;
        //     flex-flow:row wrap;
        //     justify-content: space-between;
        //     .box__parent-skills{
    
        //     }
        }
    }
}