.thankyou__holder{
    width:100%;
    height:auto;
    text-align: center;
    transform: scale(0.3);
    transition: all 0.6s ease-in-out;
    width:100%;
    height:auto;
    letter-spacing:1px;
    color:rgba(0,0,0,0.9);
}