.project-cards{
    margin:1rem;
    display:flex;
    justify-content: center;
    flex-flow:wrap;
    margin:1rem;
    padding:5px;
    .project-cards__holder{
        width:100%;
        // height:300px;
        margin:1rem 0;
        // cursor:pointer;
        transition:0.3s ease-in-out;
        display:flex;
        flex-flow:row wrap;
        &:first-child{
            @media screen and (min-width:580px){
                margin-top:0;
            }
            @media screen and (min-width:720px){
                margin: 1rem;    
            }
        }
        @media screen and (min-width:720px){
            width:40%;
            margin:1rem;
        }
        &:hover{
            @media screen and(min-width:720px){
                transform: scale(1.1)
            }
        }
        .project-cards__proj-details{
            margin:-0.8rem 0;
            width:100%;
            box-shadow:0 7px 11px rgba(0,0,0,0.3);
            .proj-details__title{
                margin:1rem 2rem 0;
                letter-spacing: 1px;
                font-size: 1.3em;
                &::first-letter{
                    text-transform:capitalize;
                }
            }
            .proj-details__desc{
                margin:-0.7rem 2rem 0;
                letter-spacing: 1px;
                font-size:1em;
                color:rgba(0,0,0,0.7);
            }
            .proj-details__call-to-action{
                text-align: right;
                .call-to-action-buttons{
                    margin:0.5rem;
                    a{
                        color:inherit;
                        text-decoration: none;
                    }
                }
            }
        }
        .project-cards__image-holder{
            // div{
            //     img:last-child{
            //         display:none;
            //     }
            // }
            img{
                object-fit: cover;
                max-width:100%;
                height:auto;
                box-shadow:0 7px 11px rgba(0,0,0,0.3);
                animation: 1s ease-in-out 0s 1 normal none running bounceIn;
            }
            @keyframes bounceIn {
                
                0% {
                    transform: scale3d(.3,.3,.3);
                }
                20% {
                    transform: scale3d(1.1,1.1,1.1);
                }
                40% {
                    transform: scale3d(.9,.9,.9);
                }
                60% {
                    transform: scale3d(1.03,1.03,1.03);
                }
                80% {
                    transform: scale3d(.97,.97,.97);
                }
                100% {
                    transform: scale3d(1,1,1);
                }
            }
        }
    }
}